body {
			font-family: Open Sans, sans-serif;
			background-color:#F5F5F5;;
			margin: 0;
			padding: 0;
		}
		header {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
		}
		nav {
			background-color: #666;
			color: #fff;
			padding: 10px;
			text-align: center;
		}
		nav a {
			color: #fff;
			text-decoration: none;
			padding: 10px;
			margin: 10px;
			display: inline-block;
		}
		nav a:hover {
			background-color: #fff;
			color: #666;
		}
		main {
			padding: 20px;
			background-color: #fff;
			margin: 20px;
			border: 1px solid #ccc;
		}
		h1 {
			font-size: 36px;
			margin-top: 0;
		}
		h2 {
			font-size: 24px;
		}
		p {
			font-size: 16px;
			line-height: 1.5;
			margin: 20px 0;
		}
		img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 20px auto;
		}
		footer {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}
		#haby .profile-img {
    width: 300px;
    border-radius: 50%; /* Add this line */
		}	
		#haby {
			background-image: url('uw.jpg');
		}		